################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
*.txt
*.exe
*.dll
*.obj
!MSDNScrapes.txt
!Natural_selector.txt
!rust_test.exe
!/GUI/venv/*
!/GUI/.idea/*
!/GUI/__pycache__/*
!/stringsModule/*